@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ali's .NET Core Application.</h1>
    <p>Demo for <a href="https://www.geeks.ltd.uk/">Geeks Ltd</a>.</p>
</div>
